.cls-block-1 {
  font-family: 'Liberation Serif';
  font-weight: initial;
  word-spacing: initial;
  line-height: 1.6;
  letter-spacing: 1.05px;
  font-size: 16px;
}
.webFontLoaded  .cls-block-1{
  font-family: 'Andika New Basic';
  font-weight: initial;
  word-spacing: initial;
  line-height: initial;
  letter-spacing: initial;
  transition: all 100ms;
}

.vertical_center {
  display: block;
  height: 50vh;
  width: 100%;
  position: relative;
  margin: 50% 0;
}

.fallback_font {
  position: absolute;
  top: 0%;
  z-index: 2;
  font-family: 'Liberation Serif';
  Letter-spacing: 0.75px;
  line-height: 1.6;

  
}

.web_font {
  position: absolute;
  top: 0;
  z-index: 1;
  font-family:'Langar'
}
