.cls-block-1 {
  font-family: 'Liberation Serif';
  font-weight: initial;
  word-spacing: initial;
  line-height: 1.6;
  Letter-spacing: 0.69px;
  line-height: 1.45;
}
.webFontLoaded  .cls-block-1{
  font-family: 'Langar';
  font-weight: initial;
  word-spacing: initial;
  line-height: initial;
  letter-spacing: initial;
}

.vertical_center {
  display: block;
  height: 50vh;
  width: 100%;
  position: relative;
  margin: 50% 0;
}

.fallback_font {
  position: absolute;
  top: 40%;
  z-index: 2;
  font-family: 'Liberation Serif';
  Letter-spacing: 0.69px;
  line-height: 1.45;
}

.web_font {
  position: absolute;
  top: 0;
  z-index: 1;
  font-family:'Langar'
}
